 *{
    margin: 0;
    padding: 0;
 }
 body{
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 section{
    height: auto;
    padding: 20px;
    width: 360px;
    color: white;
    border: 2px solid white;
 }
 section h1{
    font-size: 25px;
    text-align: center;
 }
 section label{
    font-size: 20px;
 
 }
 section input{
    padding: 5px;
    margin-bottom: 10px;
    height: 25px;
    width: 350px;
 }
 button{
     margin-bottom: 10px;
    height: 30px;
    width: 350px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    background-color: darkblue;
 }
 #Result{
 
    text-align: center;
    font-size: 40px;
 padding: 5px;
    border: none;
    outline: none;
 }
 #Status{
    padding: 5px;
    width: 270px;
    text-align: center;
 
 }
 .showresult{
    display: flex;
    font-size: 18px;
    justify-content: space-around;
    align-items: center;
 }