 *{
    margin: 0;
    padding: 0;
 }
 body{
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 section{
    height: auto;
    padding: 20px;
    width: 360px;
    color: white;
    border: 2px solid white;
 }
 section h1{
    font-size: 25px;
    text-align: center;
 }
 section label{
    font-size: 20px;
 
 }
 section input{
    margin-bottom: 10px;
    height: 30px;
    width: 350px;
 }
 #Result{
    text-align: center;
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: none;
 }