* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section {
  height: 60vh;
  width: 300px;
  background-color: rgb(221, 221, 221);
  border-radius: 10px;
}
section input{
    width: 90%;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    text-align: right;
    padding-right: 10px;
    font-size: 20px;
}
.btn-group{
    width: 100%;
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-bottom: 10px;
}
.btn{
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
  background-color: rgb(36, 35, 35);
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}
.btn:hover{
    background-color: black;
}